@use "core/reset";
@use "components/principalSection";
@use "components/grid";
@use "components/buttons";
@use "components/_footer";

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
