$color-h2-grid: rgba(124, 118, 118, 0.15);

$color-text-buttons: white;
$color-background-buttons: salmon;
$color-icon-button: white;

$color-background-footer: rgba(124, 118, 118, 0.15);
$color-text-footer: rgb(250, 91, 74);
