$color-background-principal: #acacc5;

$color-h2-grid: rgba(124, 119, 119, 0.3);

$color-text-buttons: white;
$color-background-buttons: salmon;
$color-icon-button: white;

$color-background-footer: #8b4c4c;
$color-text-footer: white;
