@use "../variables/colors";
.grid {
  display: flex;
  position: relative;
  border: 3px solid rgba(0, 0, 0, 0.1);
  width: fit-content;
  justify-content: center;
  align-items: center;

  h2 {
    position: absolute;
    font-size: 11rem;
    color: colors.$color-h2-grid;
    font-family: "Comforter Brush", cursive;
  }
}
