.grid {
  display: flex;
  position: relative;
  border: 1px solid black;
  width: fit-content;
  margin: 5% auto;
  justify-content: center;
  align-items: center;
}
h1 {
  position: absolute;
  font-size: 11rem;
  color: rgba(130, 154, 155, 0.15);
  font-family: "Comforter Brush", cursive;
}
